- apiVersion: n9/v1alpha
  kind: Annotation
  metadata:
    name: $annotation_name
    project: $project
  spec:
    slo: $slo_name
    description: $annotation_description
    startTime: $annotation_time
    endTime: $annotation_time
